
* {
    box-sizing: border-box;
    font-family: roboto;

}
html {
    scrollbar-gutter: stable both-edges;
}
body {
    max-width: 900px;
    margin: auto;
    
}
#dropdown{
    display: none;
    
}
#navbar {
    margin-top: 20px;
    position: relativ;
}
#name {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
}
#menue-large li {
    display: inline-block;
    margin-left: 6px;
    text-transform: uppercase;
    
}
#menue-large ul {
    margin-top: -30px;
    float: right;
   
    
}

#about-me {
    display: grid;
    justify-content: start;
    grid-template-columns: 60%  40%;
    width: 100%;

}
#about-me img {
    width: 100%;
}
#projects ul {
    list-style: none ;
}

#projects li {
    display: grid;
    grid-template-columns: 20px auto;
    justify-content: start;
    align-items: center;
    margin: 0 10px 10px 0;
  }
  
#projects li::before {
    content: ">";
    font-size: 10px;
    color: #999;
  }
  #projects img {
    max-width: 400px;
  }
  #logosOfSkills {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit , 150px);
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    row-gap: 40px;
  }
  #logosOfSkills img {
    max-width: 100%;
    max-height: 50px;
  }
footer {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
footer img {
    max-height: 20px;
    margin: auto;
    
}

#made {
   text-align: right;
}
#country {
    text-align: left;
}
#buttonHolder {
    text-align: center;
}
#submitButton {
    background-color: green;
    border: 1px solid pink;
    border-radius: 5px;
    color: white;
}

#pictureOne {
    visibility: hidden;
    max-height: 0;
}
#pictureTwo {
    visibility: hidden;
    max-height: 0;
}
#pictureThree {
    visibility: hidden;
    max-height: 0;
}
a:hover {
    color: green;
    text-decoration: underline;
    font-size: 2em;
}

@media screen and (max-width: 1200px) {
    h1 {
      color: green;
    }
    #menue-large li {
        display: none;
       
    }
   
    #menue-btn {
        position: absolute;
        right: 20px;
        top: 10px;
        width: 50px;
        z-index: 2;
    }   
    
    #barOne {
        background-color: black;
        height: 5px;
        width: 50px;
        margin-top: 10px;
        border-radius: 200px;
    }
    #barTwo {
        background-color: black;
        height: 5px;
        width:50px;
        margin-top: 10px;
        border-radius: 200px;
    }
    #barThree {
        background-color: black;
        height: 5px;
        width: 50px;
        margin-top: 10px;
        border-radius: 200px;
    }        
    #dropdown {
        visibility: hidden;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: white;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
        z-index: 3;
        
    }

   #dropdown ul {
    list-style: none;
    margin-right: 15px;
    margin-left: 0px;
   }

  #name {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
    font-size: 1rem;
}
}







/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }